/*universal -------------------------------------------------------------------------*/
*{
    box-sizing: border-box;
  }

  html body {
    background-color: #333;
    margin: 10px;
    font-family: sans-serif;
  }

/* header --------------------------------------------------------------------------*/

  header{
    border: 1px solid lightblue;
    border-radius: 50px;
    margin-bottom: 10px;
    height: 352px;
  }

  .fotoPerfil {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #E5E5E5;;
    z-index: 20; 
    top: -270px; 
  }

  #imagenP {
    width: 100%;
    height: 100%;
  }

  .fondo {
    width: 100%;
    height: 100%;
  }

  #fondoN{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    z-index: 10;
  }

  .titulo{
    position: relative;
    top: -249px;
    text-align: center;
    z-index: 10;
    color: #E5E5E5;
  }

/* nav ----------------------------------------------------------------------------*/
  .nav {
    height: auto;
    width: auto;
  }
  
  .botones{
    margin-left: auto;
  }

  .botones button {
    margin-right: 10px;
  }
  


/* section --------------------------------------------------------------------------*/

  .section{
    border: 1px solid lightblue;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url(https://raw.githubusercontent.com/nahdaicue/TP-2/master/TP-2/imagenes/fondo_negro.jpg);
    background-size: cover;
  }

  .articulo {
    margin: 30px;
    color: #E5E5E5;
  }

  .titulosA{
   text-align: center;
   color: #E5E5E5;
  }
/* Boton edicion de texto. */
  .boton{
    height: 100%;
    width: 30px;
    margin-bottom: 10px;
    margin-left: auto;
  }

  .botonE {
  font-size:15px;
  font-family:Arial;
  text-align: center;
  width:30px;
  height:30px;
  border-width:0px;
  color:#fff;
  border-color:#4e6096;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
  background:linear-gradient(rgb(120, 146, 194), #476e9e);
}

.botonE:hover {
  background: linear-gradient(#476e9e, rgb(120, 146, 194));
}
              
  /*input*/

  .input{
    display: none;
  }

/* footer ---------------------------------------------------------------------------*/

  .footer{
    border: 1px solid lightblue;
    border-radius: 50px;
    background-image: url(https://raw.githubusercontent.com/nahdaicue/TP-2/master/TP-2/imagenes/fondo_negro.jpg);
    background-size: cover;
    margin-top: 10px;
    
  }
  
  .lista{
    margin: 30px;
    color: #E5E5E5;
  }
  

  